@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Kranky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kalnia:wght@100..700&family=Kranky&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#middle {
    width: 70%;
    min-width: 620px;;
}

h1, h2, h3, h4, h5 {
    font-family: 'Kalnia', serif;
}

p {
    font-family: 'Inria Serif', serif;
    margin: 0;
}